<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
	<!-- 配置dbcp数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <!-- Connection Info -->
        <property name="driverClassName" value="${jdbc.dbcp.dataSource.driverClassName}" />
        <property name="url" value="${jdbc.dbcp.dataSource.url}" />
        <property name="username" value="${jdbc.dbcp.dataSource.username}" />
        <property name="password" value="${jdbc.dbcp.dataSource.password}" />
        <!-- Connection Pooling DBCP -->
        <property name="initialSize" value="${jdbc.dbcp.dataSource.initialSize}" />
        <property name="maxActive" value="${jdbc.dbcp.dataSource.maxActive}" />
        <property name="maxIdle" value="${jdbc.dbcp.dataSource.maxIdle}" />
        <property name="maxWait" value="${jdbc.dbcp.dataSource.maxWait}" />
        <property name="poolPreparedStatements" value="${jdbc.dbcp.dataSource.poolPreparedStatements}" />
        <property name="defaultAutoCommit" value="${jdbc.dbcp.dataSource.defaultAutoCommit}" />
        <!-- 是否自动回收超时连接 -->
        <property name="removeAbandoned" value="${jdbc.dbcp.dataSource.removeAbandoned}" />
        <!--removeAbandonedTimeout: 超时时间(以秒数为单位)--> 
		<property name="removeAbandonedTimeout" value="180"/>  
    </bean>
    
    <!-- 对数据源进行事务管理 -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    <!-- mybatis文件配置，扫描所有mapper文件 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
	        <property name="dataSource" ref="dataSource" />
	        <property name="configLocation" value="classpath:mybatis-conf.xml" />
			<property name="mapperLocations" value="classpath:mybatis-mapper/**/*.xml" />
	        <property name="typeAliasesPackage" value="com.test.entity" />  
	</bean>
	
	<!-- spring与mybatis整合配置，扫描所有dao -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" >
		<property name="basePackage" value="com.test.dao"></property>
		<property name="sqlSessionFactoryBeanName"  value="sqlSessionFactory"></property>
	</bean>
	
	<!--通过模板定制mybatis的行为 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate"  >
		<constructor-arg index="0"  ref="sqlSessionFactory"/>
		 <constructor-arg index="1" value="BATCH" />
	</bean>
	
</beans>